.searchBar {
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding:10px 20px;
  backdrop-filter:blur(4px) saturate(180%);
}

.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 60px;
  font-size: 20px;
  color: #e6e4ff;
}

::placeholder {
  color: #e6e4ff;
}

.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(108, 82, 160);
  cursor: pointer;
}

.loading {
  text-align: center;
  color: #e6e4ff;
  font-size: 18px;
  align-items: center;
  padding: 1rem;
  text-shadow: 2px 2px #3030308a;
  
  

}
