.searchBar {
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  backdrop-filter:blur(4px) saturate(180%);
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px
}

.searchBar input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #e6e4ff;
  padding: 10px 50px;
  max-width: 320px
}

::placeholder {
  color: #e6e4ff;
}

.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(108, 82, 160);
  cursor: pointer;
}

.loading {
  text-align: center;
  color: #e6e4ff;
  font-size: 18px;
  align-items: center;
  padding: 1rem;
}

.exampleSearch {
  background-color: rgba(231, 231, 231, 0.856);
  font-size: 20px;
  color: rgb(108, 82, 160);
  padding: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;


  

}
