.searchBar {
  width: 100%;
  max-width: 700px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  backdrop-filter:blur(4px) saturate(180%);
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom:10px;
}

.searchBar input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #e6e4ff;
  padding: 10px 50px;
  max-width: 320px
}

::placeholder {
  color: #e6e4ff;
}

.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(108, 82, 160);
  cursor: pointer;
}

.loading {
  text-align: center;
  color: #e6e4ff;
  font-size: 18px;
  align-items: center;
  padding: 1rem;
}

.exampleSearch {
  display: flex;
  align-items: center;
  background-color:  rgba(255, 255, 255, 0.856);
  border-radius:10%;
  box-shadow: 1px 1px 5px rgb(46, 46, 46);
  border:none;
  margin: auto;
  padding: 5px;
  font-size:medium;
}

.schedule {
  display:flex;
  width: 250px;
  background-color:  rgba(255, 255, 255, 0.856);
  border-radius:5%;
  box-shadow: 1px 1px 5px rgb(46, 46, 46);
  margin: 10px;
  padding: 5px;
  align-items: center;
}

.schedule p{
  width: 85%;
  padding-left: 10px;
}
