.headerBar{
    background-color:purple;
}

.clashSchedule {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.37);
    margin-bottom: 50px;
    backdrop-filter:blur(4px) saturate(180%);
    text-align:center;
    font-size:large;
    color:rgba(255, 255, 255, 0.712);
    border-radius: 10px;

    
}

.clashScheduleList {
    background: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align:left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    color:rgb(22, 22, 22);
    font-size:medium;
}


.clashScheduleList li{
    list-style: none;
    padding:5px;

}

.clashScheduleList h4{
    min-width: 110px;
    margin-left: 2%;
}