.dropDown {
  width: 120px;
  height: 40px;
  border: none;
  font-size: 14.5px;
  color: #4d328b;
  background-color: rgba(238, 238, 238, 0.336);
  border-radius: 5px;
  box-shadow: 1px 1px rgba(54, 53, 53, 0.568);
}

